#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  background: #001f6844;
}

.header nav {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

.header nav ul li a {
  color: white;
}

.vault-container {
  /* display: flex; */
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  justify-items: center;
  align-content: start;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}